*{
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: cursive;
    padding: 10px;
}

.container {
    padding-left: 30px;
    display: inline-block;
}

.cardDetail {
    margin: 5px;
    display: inline-block;
    border: 2px solid black;
    height: 250px;
    width: 250px;
}

.cardImage {
    width: 250px;
    height: 200px;
}

.cardContent {
    text-align: center;
}